<% include ../partials/head %>
<title>Crypto Palace - Authentication</title>
</head>
<body>
<div id="app-root">
    <tfa :message="'<%= message %>'"></tfa>
</div>
<script src="/js/main-bundle.min.js"></script>
</body>
</html>
