<% include ../partials/head %>
<title><%= settings.siteName %> - Sign In</title>
</head>
<body class="vertical-layout vertical-content-menu 1-column   menu-expanded blank-page blank-page"
      data-open="click" data-menu="vertical-content-menu" data-col="1-column">
<div id="app-root" class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section class="flexbox-container">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="col-md-4 col-10 box-shadow-2 p-0">
                        <div class="card border-grey border-lighten-3 m-0">
                            <div class="card-header border-0">
                                <div class="card-title text-center">
                                    <div class="p-1">
                                        <img src="/images/logo/logo-dark.png" alt="branding logo">
                                    </div>
                                </div>
                                <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                                    <span>Login to your account</span>
                                </h6>
                            </div>
                            <div class="card-content">
                                <signin></signin>
                            </div>
                            <div class="card-footer">
                                <div class="">
                                    <p class="float-sm-left text-center m-0"><a href="/lost-password" class="card-link">Lost password</a></p>
                                    <p class="float-sm-right text-center m-0">New to <%= settings.siteName %>? <a href="/signup" class="card-link">Sign Up</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script src="/js/vendor.min.js"></script>
<script src="/js/main-bundle.min.js"></script>
</body>
</html>
