root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Set default charset for JavaScript and Python
[*.{js}]
charset = utf-8

# JavaScript, TYPESCRIPT, EJS, CSS, SCSS, HTML settings
[*.{ejs,js,ts,css,scss,html}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# Markdown settings
[*.md]
trim_trailing_whitespace = false
