<% include ./partials/head %>
<title>Crypto Palace</title>
</head>
<body class="vertical-layout vertical-content-menu 2-columns   menu-expanded fixed-navbar"
data-open="click" data-menu="vertical-content-menu" data-col="2-columns">
<% include ./partials/header %>
<div id="app-root">
    <a href="/signin">Sign In</a> Or <a href="/signup">Sign Up</a>
</div>
<script src="/js/main-bundle.min.js"></script>
</body>
</html>
