<% include ./partials/head %>
<title><%= settings.siteName %></title>
</head>
<body>
<div id="app-root">
    <a href="/signin">Sign In</a> Or <a href="/signup">Sign Up</a>
</div>
<script src="/js/main-bundle.min.js"></script>
</body>
</html>
