<% include ../../partials/head %>
<title><%= settings.siteName %> - Wallet</title>
</head>
<body class="vertical-layout vertical-content-menu 2-columns   menu-expanded fixed-navbar"
      data-open="click" data-menu="vertical-content-menu" data-col="2-columns">
<div id="app-root">
  <% include ../../partials/header %>
  <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row">
      </div>
      <% include ../../partials/sidebar %>
      <div class="content-body">
        <wallet></wallet>
      </div>
    </div>
  </div>
</div>
<% include ../../partials/footer %>
<script src="/js/vendor.min.js"></script>
<script src="/js/main-bundle.min.js"></script>
</body>
</html>
