<% include ../../partials/head %>
<title>Crypto Palace - Lost Password</title>
</head>
<body class="vertical-layout vertical-content-menu 2-columns   menu-expanded fixed-navbar"
data-open="click" data-menu="vertical-content-menu" data-col="2-columns">
<% include ../../partials/header %>
<div id="app-root">
    <reset-passsword :email="'<%= email %>'"></reset-passsword>
</div>
<script src="/js/main-bundle.min.js"></script>
</body>
</html>
