<% include ../../partials/head %>
<title>Crypto Palace - Lost Password</title>
</head>
<body>
<div id="app-root">
    <reset-passsword :email="'<%= email %>'"></reset-passsword>
</div>
<script src="/js/main-bundle.min.js"></script>
</body>
</html>
