You where assigned by our admin to be an agent on our platform, Please verify with the link below to complete setup/process.<br><br>
<a href="<%= verificationLink %>">Verify Link</a><br><br>
Your login password is <b><%= password %></b>, please remember to change it once you login.
